{% extends 'base.html.twig' %}
{% block body %}


    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Facet musi szukać, eksplorować, rozwijać się i to jest zajebiste.
                        </h2>
                        <h3 class="post-subtitle">
                            Problemy wyglądają na małe jeśli spojrzeć na nie z wysokości
                        </h3>
                    </a>
                    <p class="post-meta">Opublikowany 24-10-2017 przez
                        <a href="#">sebmiet</a>
                        </p>
                </div>
                <hr>
                {%  for article in articles %}
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            {{ article.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ article.subtitle }}
                        </h3>
                    </a>
                    <p class="post-meta">Opublikowany
                        {{ article.postdate|date("d-m-Y") }} przez
                        <a href="#">{{ article.author }}</a>
                        </p>
                </div>
                <hr>
                {% endfor %}
                {#<div class="post-preview">#}
                    {#<a href="post.html">#}
                        {#<h2 class="post-title">#}
                            {#Science has not yet mastered prophecy#}
                        {#</h2>#}
                        {#<h3 class="post-subtitle">#}
                            {#We predict too much for the next year and yet far too little for the next ten.#}
                        {#</h3>#}
                    {#</a>#}
                    {#<p class="post-meta">Posted by#}
                        {#<a href="#">Start Bootstrap</a>#}
                        {#on August 24, 2018</p>#}
                {#</div>#}
                {#<hr>#}
                {#<div class="post-preview">#}
                    {#<a href="post.html">#}
                        {#<h2 class="post-title">#}
                            {#Failure is not an option#}
                        {#</h2>#}
                        {#<h3 class="post-subtitle">#}
                            {#Many say exploration is part of our destiny, but it’s actually our duty to future generations.#}
                        {#</h3>#}
                    {#</a>#}
                    {#<p class="post-meta">Posted by#}
                        {#<a href="#">Start Bootstrap</a>#}
                        {#on July 8, 2018</p>#}
                {#</div>#}
                {#<hr>#}
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    </div>

    <hr>


{% endblock %}